GerNationalGenDataPipeline/GerNationalGenDataPipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/GerNationalGenDataPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"start_date","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"from_ts","value":{"value":"@addMinutes(startOfDay(getPastTime(1,'Day')),30)","type":"Expression"}}},{"name":"end_date","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"end_date","value":{"value":"@startOfDay(utcnow())","type":"Expression"}}},{"name":"GenerationAPI","type":"WebActivity","dependsOn":[{"activity":"start_date","dependencyConditions":["Succeeded"]},{"activity":"end_date","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('https://api.carbonintensity.org.uk/generation/',variables('from_ts'),'/',variables('end_date'))","type":"Expression"},"method":"GET","headers":{}}},{"name":"SaveDataToBronze","type":"WebActivity","dependsOn":[{"activity":"GenerationAPI","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('https://mydsprojects.blob.core.windows.net/green-data/Bronze/',formatDateTime(startOfDay(getPastTime(1,'Day')),'yyyyMMdd'),'.json?sp=racw&st=2023-10-04T10:06:48Z&se=2023-11-04T19:06:48Z&spr=https&sv=2022-11-02&sr=c&sig=5pPjTD%2BM2GanF2nmC25b2E4AQRglT53Kt35h13RaCTY%3D')","type":"Expression"},"method":"PUT","headers":{"x-ms-blob-type":"BlockBlob"},"body":{"value":"@activity('GenerationAPI').output","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"variables":{"from_ts":{"type":"String"},"end_date":{"type":"String"}},"annotations":[],"lastPublishTime":"2023-10-04T15:49:35Z"},"dependsOn":[]}]}